#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp z
                &kp Z
                &kp 2
                &kp 3
                &kp 4
                &kp 5
                &kp 6
                &kp 7
                &kp 8
            >;
        };
    };
};