#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp K_PLAY_PAUSE    &kp LEFT_ARROW     &kp RIGHT_ARROW     &mo LOW
            >;
        }; 
        
        low_layer {
            bindings = <
                &K_CONTEXT_MENU     &kp UP_ARROW     &kp DOWN_ARROW     &trans
            >;
        };
    };
};